@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
  font-family: 'Fredoka One', cursive;
  background-color: #242f9b;
  background-image: linear-gradient(
    102.4deg,
    rgba(253, 189, 85, 1) 7.8%,
    rgba(249, 131, 255, 1) 100.3%
  );
}

#seleccionar-mascota {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo {
  color: rgb(87, 23, 225);
  font-size: 2.1875rem;
}

.subtitulo {
  color: rgb(87, 23, 225);
  font-size: 1.25rem;
}

.tarjetas,
.tarjeta-ataques {
  display: flex;
  gap: 10px;
}

.tarjeta-de-mokepon {
  width: 180px;
  height: 115px;
  background: #646fd4;
  padding: 10px;
  box-sizing: border-box;
  margin: 10px;
  border-radius: 20px;
  border: 1px solid #9ba3eb;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tarjeta-de-mokepon img {
  width: 80px;
}

/* .tarjeta-de-mokepon:hover {
  background: #646fd4;
  color: white;
  cursor: pointer;
} */

input {
  display: none;
}

input:checked + label {
  background-color: rgb(56, 13, 148);
}

button {
  width: 180px;
  height: 50px;
  background: transparent;
  font-family: 'Fredoka One', cursive;
  box-sizing: border-box;
  border-radius: 20px;
  border: 2px solid #646fd4;
  cursor: pointer;
  color: rgb(87, 23, 225);
  font-size: 1rem;
  margin-top: 30px;
}

button:hover {
  background: #646fd4;
  color: white;
}
#seleccionar-ataque {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#mensajes {
  width: 280px;
  background-color: pink;
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.ataques {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 250px 250px;
  text-align: center;
}

.ataques-jugador,
.ataques-enemigo {
  font-size: 2rem;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px dotted #646fd4;
}
/* medias querys */

@media (max-width: 360px) {
  .tarjetas,
  .tarjeta-ataques {
    flex-direction: column;
  }
}
